[org/gnome/settings-daemon/plugins/color]
night-light-enabled=true

[org/gnome/settings-daemon/plugins/media-keys]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/']

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1]
binding='<Primary>F12'
command='/usr/bin/tilix --quake'
name='tilix-quake'

[org/gnome/settings-daemon/peripherals/keyboard]
numlock-state='on'

[org/gnome/settings-daemon/plugins/color]
night-light-schedule-automatic=true
night-light-enabled=true

[org/gnome/gedit/preferences/ui]
show-tabs-mode='auto'

[org/gnome/gedit/plugins/filebrowser]
tree-view=true

[org/gnome/nautilus/preferences]
search-view='list-view'
default-folder-viewer='list-view'
search-filter-time-type='last_modified'
use-experimental-views=true

[org/gnome/nautilus/desktop]
home-icon-visible=true
volumes-visible=true
font='Ubuntu 10'
trash-icon-visible=true

[org/gnome/nautilus/list-view]
default-visible-columns=['name', 'size', 'date_modified']
default-column-order=['name', 'size', 'type', 'owner', 'group', 'permissions', 'mime_type', 'where', 'date_modified', 'date_modified_with_time', 'date_accessed', 'recency']

[org/gnome/desktop/interface]
clock-format='12h'
font-name='Ubuntu 11'
document-font-name='Sans 11'
gtk-im-module='gtk-im-context-simple'
cursor-theme='DMZ-White'
icon-theme='Pocillo'
monospace-font-name='Ubuntu Mono 13'
gtk-theme='Arc-Darker'

[org/gnome/desktop/screensaver]
picture-uri='file:///home/john/Pictures/fire-tiger_1920x1080.jpg'
color-shading-type='solid'
primary-color='#000000000000'
picture-options='zoom'
lock-enabled=false
secondary-color='#000000000000'

[org/gnome/desktop/session]
idle-delay=uint32 0

[org/gnome/desktop/wm/preferences]
theme='Arc-Darker'
titlebar-font='Ubuntu Bold 11'

[org/gnome/desktop/background]
picture-uri='file:///home/john/Pictures/fire-tiger_1920x1080.jpg'
color-shading-type='solid'
primary-color='#000000000000'
picture-options='zoom'
secondary-color='#000000000000'

[org/gnome/gthumb/browser]
thumbnail-list-visible=true
sort-type='file::mtime'
sidebar-visible=true
viewer-sidebar='hidden'
sort-inverse=false
maximized=true
fullscreen-thumbnails-visible=false
fullscreen-sidebar='hidden'
statusbar-visible=true

[org/gtk/settings/file-chooser]
sort-column='name'
clock-format='12h'
show-size-column=true
show-hidden=true
sort-directories-first=true
date-format='regular'
sort-order='ascending'
location-mode='path-bar'

[apps/update-manager]
first-run=false
show-details=true

[com/gexperts/Tilix]
prompt-on-close=true
theme-variant='dark'
use-tabs=true

[com/gexperts/Tilix/profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
background-transparency-percent=4
use-theme-colors=true
visible-name='Default'

[com/solus-project/budgie-panel]
dark-theme=true
migration-level=1
builtin-theme=true
panels=['000000a4-0000-0000-0000-000000000000']

[com/solus-project/budgie-panel/instance/icon-tasklist/{000000a7-0000-0000-0000-000000000000}]
pinned-launchers=['google-chrome.desktop', 'code.desktop', 'com.gexperts.Tilix.desktop', 'nautilus.desktop']

[com/solus-project/budgie-panel/panels/{000000a4-0000-0000-0000-000000000000}]
size=39
enable-shadow=true
location='bottom'
applets=['000000a5-0000-0000-0000-000000000000', '000000ab-0000-0000-0000-000000000000', '000000aa-0000-0000-0000-000000000000', '000000a9-0000-0000-0000-000000000000', '000000a8-0000-0000-0000-000000000000', '000000af-0000-0000-0000-000000000000', '000000ae-0000-0000-0000-000000000000', '000000a7-0000-0000-0000-000000000000', '000000ad-0000-0000-0000-000000000000', '000000a6-0000-0000-0000-000000000000', '000000b0-0000-0000-0000-000000000000', '000000ac-0000-0000-0000-000000000000']
transparency='none'

[com/solus-project/budgie-panel/applets/{000000af-0000-0000-0000-000000000000}]
position=7
alignment='end'
name='Clock'

[com/solus-project/budgie-panel/applets/{000000a6-0000-0000-0000-000000000000}]
position=1
alignment='start'
name='Spacer'

[com/solus-project/budgie-panel/applets/{000000ab-0000-0000-0000-000000000000}]
position=3
alignment='end'
name='Status Indicator'

[com/solus-project/budgie-panel/applets/{000000a8-0000-0000-0000-000000000000}]
position=0
alignment='end'
name='Spacer'

[com/solus-project/budgie-panel/applets/{000000ad-0000-0000-0000-000000000000}]
position=5
alignment='end'
name='Spacer'

[com/solus-project/budgie-panel/applets/{000000b0-0000-0000-0000-000000000000}]
position=8
alignment='end'
name='Raven Trigger'

[com/solus-project/budgie-panel/applets/{000000a9-0000-0000-0000-000000000000}]
position=1
alignment='end'
name='System Tray'

[com/solus-project/budgie-panel/applets/{000000ac-0000-0000-0000-000000000000}]
position=4
alignment='end'
name='User Indicator'

[com/solus-project/budgie-panel/applets/{000000a5-0000-0000-0000-000000000000}]
position=0
alignment='start'
name='Budgie Menu'

[com/solus-project/budgie-panel/applets/{000000a7-0000-0000-0000-000000000000}]
position=2
alignment='start'
name='Icon Task List'

[com/solus-project/budgie-panel/applets/{000000aa-0000-0000-0000-000000000000}]
position=2
alignment='end'
name='Notifications'

[com/solus-project/budgie-panel/applets/{000000ae-0000-0000-0000-000000000000}]
position=6
alignment='end'
name='Separator'

[com/solus-project/budgie-wm]
button-layout='appmenu:minimize,maximize,close'

[com/ubuntu/update-notifier]
regular-auto-launch-interval=0
